<div class="feed">
    <div class="feed-header">
        <span class="text-header">{{this.feedName}}</span>
        <button class="btn-primary"><span class="text-regular">Выбор города</span></button>
    </div>
    <div class="feed-content"></div>
</div>