@use '../../assets/css/sizes.scss';

$feed-gap-desktop: 32px;
$feed-gap-mobile: 8px;
$feed-inside-gap-desktop: 16px;
$feed-inside-gap-mobile: 6px;

.feed {
    display: flex;
    padding: 0px 1px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: sizes.$desktop;
    gap: $feed-gap-desktop;
    padding-top: 32px;
    
    @media screen and (max-width: sizes.$mobile) {
        width: sizes.$mobile;
        padding-top: 8px;
        gap: $feed-gap-mobile;
    }
}

.feed-header {
    display: flex;
    align-items: center;
    gap: $feed-gap-desktop;

    @media screen and (max-width: sizes.$mobile) {
        gap: $feed-gap-mobile;
    }
}

.feed-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: inherit;
    width: 100%;
    grid-row-gap: $feed-gap-desktop;

    @media screen and (max-width: sizes.$mobile) {
        grid-row-gap: $feed-gap-mobile;
        grid-template-columns: repeat(3, 1fr);
    }
}
