<div class="profile-container">
    <button class="profile-btn">
        <img class="profile-btn" src="https://w7.pngwing.com/pngs/263/201/png-transparent-computer-icons-avatar-admission-miscellaneous-logo-silhouette.png">
    </button>
    {{> dropdown this.dropdownConf}}
</div>