@use '../../../assets/css/vars.scss';
@use './cardConstants.scss';

@import './commonStyles/image.scss';
@import './commonStyles/badges.scss';
@import './commonStyles/title.scss';

@import './baseStyles.scss';
@import './profileStyles.scss';

.card-base {
    display: flex;
    width: cardConstants.$card-base-width;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: 'Nunito Sans';
    font-size: 15px;

    &--premium .body-base {
        box-shadow: 0px 0px 10px gold;
    }
}

.card-profile {
    display: flex;
    width: cardConstants.$card-profile-width;
    padding: 8px;
    align-items: flex-start;
    border-radius: 0 cardConstants.$card-radius cardConstants.$card-radius 0;
    background: vars.$background-primary;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

    &--premium {
        display: flex;
        width: cardConstants.$card-profile-width;
        padding: 8px;
        align-items: flex-start;
        border-radius: 0 cardConstants.$card-radius cardConstants.$card-radius 0;
        background: vars.$background-primary;
        box-shadow: 0px 0px 10px gold;
    }
}