<div class="container">
    <div class="tabs">
        <button class="tab" id="tab-all">
            <span class="text-regular">Всего</span>
        </button>
        <button class="tab" id="tab-notActive">
            <span class="text-regular">Неактивные</span>
        </button>
        <button class="tab" id="tab-active">
            <span class="text-regular">Активные</span>
        </button>
        <button class="tab" id="tab-soled">
            <span class="text-regular">Проданные</span>
        </button>
    </div>
    <div id="products-container" class="products-container"></div>
</div>