<div>
    <div style="justify-content: flex-start; align-items: flex-start; display: inline-flex; width: 100%;">
        <button class="tab">
            <span class="text-regular">Всего</span>
        </button>
        <button class="tab">
            <span class="text-regular">Неактивные</span>
        </button>
        <button class="tab">
            <span class="text-regular">Активные</span>
        </button>
        <button class="tab">
            <span class="text-regular">Проданные</span>
        </button>
    </div>
    <div id="products-container" style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: flex"></div>
</div>