.rating-box {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-stars {
        display: flex;
        justify-content: start;

        &-star {
            padding: 0 4px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}