<div class="order-card">
    <div class="left-content">
        <img class='img' src='{{this.product.img}}' />
    </div>
    <div class="center-content">
        <div class="product-price">{{this.product.price}}</div>
        <div class="badjes">

        </div>
        <div class="product-title">{{this.product.title}}</div>
        <div id="likeBtn"></div>
    </div>
    <div class="right-content">
        <div id="orderPrice"></div>
        <div id="orderCount"></div>
        <div id="deleteBtn"></div>
    </div>
</div>