@use '../../assets/css/vars.scss';

$order-height: 180px;
$order-width: 180px;

.order-card {
    display: flex;
    justify-content: start;
    height: $order-height;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    width: 100%;

    .left-content {
        width: $order-width;
        height: $order-height;
        display: flex;
        align-items: center;
        >.img, >img {
            width: -webkit-fill-available;
            height: $order-height;
            object-fit: cover;
            background-color: vars.$background-tertiary;
            flex-shrink: 0;
        }
    }

    .center-content {
        padding: 16px;
        flex-grow: 1;
        background-color: vars.$background-primary;
        //width: 50%;

        .product-title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .product-price {
            color: vars.$text-secondary;
        }
    }

    .counter-content {
        margin: 0 auto;
        padding: 16px;
        background-color: vars.$background-primary;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-self: stretch;
        justify-content: start;
        width: 150px;
    }

    .price-content {
        background-color: vars.$background-primary;
        width: 150px;
        display: flex;
        justify-content: center;
        padding: 16px;
    }

    .order-card-deleting-button {
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
}