<div class="order-card">
    <div class="left-content">
        <img class='img' src='{{this.image}}' />
    </div>
    <div class="center-content">
        <div class="product-price">
            <span class="text-header">{{this.product.price}} ₽</span>
        </div>
        <div class="badjes">

        </div>
        <div class="product-title">
            <span class="text-regular">{{this.product.title}}</span>
        </div>
        <div id="likeBtn"></div>
    </div>
    <div class="right-content">
        <div class="counter"></div>
        <div id="deleteBtn"></div>
    </div>
</div>