@use '../../assets/css/vars.scss';

$card-sold-width: 315px;
$card-radius: 12px;

.order-card-sold {
    &-button {
        display: flex;
        width: $card-sold-width;
        padding: 8px;
        align-items: flex-start;
        border-radius: 0 $card-radius $card-radius 0;
        background: vars.$background-primary;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

        .image-sold {
            width: 120px;
            height: 120px;
            flex-shrink: 0;
            align-self: stretch;
            object-fit: cover;
            background-color: vars.$background-tertiary;
        }

        &-content {
            display: flex;
            width: -webkit-fill-available;
            padding: 12px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
        }

        .title-sold {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            align-self: stretch;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
        }
    }
}