<div class="settings-container">
    <form class="content">
        <span class="text-regular">Имя</span>
        <input name="name" class="text-regular searchField" type="text" placeholder="{{this.name}}">
        <span class="text-regular">Почта</span>
        <input name="email" class="text-regular searchField" type="email" placeholder="{{this.email}}">
        <div id="btn-submit"></div>
        <div id="btn-cancel"></div>
    </form>
    <div id="errorBox"></div>
</div>