<div class="settings-container">
    <div class="content">
        <span class="text-regular">Имя</span>
        <input type="text" placeholder="{{this.name}}">
        {{!-- <span class="text-regular">Фамилия</span> --}}
        {{!-- <input type="text" placeholder="{{this.}}"> --}}
        <span class="text-regular">Почта</span>
        <input type="email" name="" id="" placeholder="{{this.email}}">
        <div id="btn-submit"></div>
        <div id="btn-cancel"></div>
    </div>
</div>