<div class="order-feed">
    <div class="order-feed-header">
        <div class="order-feed-price">
            <div>
                <span id="order-full-price" class="text-header">{{this.fullPrice}}</span> <span class="text-header">₽</span>
            </div>
            <div id="buyBtn"></div>
        </div>
        <div id="userCard"></div>
    </div>
    <div class="order-feed-content"></div>
</div>