<div class="order-feed">
    <div class="order-feed-header">
        <div class="order-full-price"></div>
        <div id="orderSaler"></div>
    </div>
    <div class="order-feed-content"></div>
</div>