.order-feed {
    display: flex;
    padding: 0px 1px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 70%;

    .order-feed-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px 0;
    }
}