<div class="order-feed">
    <div class="order-feed-header">
        <div>
            <div>
                <span class="text-header">
                    <span id="order-full-price">{{this.fullPrice}}</span> ₽
                </span>
            </div>
            <div id="buyBtn"></div>
        </div>
        <div id="userCard"></div>
    </div>
    <div class="order-feed-content"></div>
</div>