<div class="order-feed">
    <div class="order-feed-header">
        <div class="order-full-price">
            <div>
                <span class="text-header">{{this.fullPrice}} ₽</span>
            </div>
            <div id="buyBtn"></div>
        </div>
        <div id="orderSaler"></div>
    </div>
    <div class="order-feed-content"></div>
</div>