@use '../../assets/css/vars.scss';

.btn-primary, .btn-secondary, .btn-accent {
    display: inline-flex;
    height: 36px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-shrink: 0;
    border-radius: 8px;
    color: vars.$background-primary;
}

.btn-primary {
    background: vars.$palette-primary;
    color: vars.$background-primary;
}

.btn-secondary {
    background: vars.$palette-secondary;
    color: vars.$background-primary;
}

.btn-accent {
    background: vars.$background-primary;
    color: vars.$text-accent;
}

.btn-neutral{
    display: inline-flex;
    height: 36px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-shrink: 0;
    border-radius: 8px;

    &.primary {
        background: vars.$background-secondary;
        color: vars.$text-primary;
    };

    &.tertiary {
        &:hover {
            color: vars.$primary-active;
        };
    };

    &.outlined {
        border: 1px solid vars.$background-tertiary;
    }
}