@use '../cardConstants.scss';

.badges-base {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    align-self: stretch;
    max-width: 220px;
    width: -webkit-fill-available;
    height: fit-content;
    gap: 8px;
    top: -28px;
    overflow: visible;
}

.badges-profile {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    align-self: stretch;
    height: 28px;
}