.feed {
    display: flex;
    padding: 0px 1px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.feed .feed-name {
    font-family: 'Roboto Regular';
    margin-bottom: 32px;
    font-size: 33px;
}

.feed-content {
    display: flex;
    padding: 0px 16px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 32px 24px;
    align-self: stretch;
    flex-wrap: wrap;
}
