/* Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');
/* Antic Slab */
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');

@import url('header.css');
@import url('feed.css');
@import url('card.css');

:root {
    /* colors */
    --background-primary: #fffaff;
    --background-secondary: #f0f1f3;
    --background-tertiary: #292c2f1f;
    --palette-primary: #9d8df1;
    --palette-secondary: #57aa94;
    --palette-surface: #292c2f;
    --palette-tertiary: #caf6ec;
    --positive-active: #57aa94cc;
    --positive-disabled: #57aa94b2;
    --positive-hover: #57aa94;
    --primary-active: #9d8df1;
    --primary-disabled: #9d8df1b2;
    --primary-hover: #9d8df1cc;
    --text-primary: #292c2f;
    --text-secondary: #292c2f80;
    --text-tertiary: #292c2f40;
}

a {
    text-decoration: none;
}

.text-caption {
    color: var(--text-primary, #292c2f);
    font-family:
        Nunito Sans,
        sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.text-regular {
    color: var(--text-primary);
    font-family:
        Nunito Sans,
        sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.text-subheader {
    color: var(--text-primary, #292c2f);
    font-family:
        Antic Slab,
        sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.text-header {
    color: var(--text-primary, #292c2f);
    text-align: center;

    font-family:
        Antic Slab,
        sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.error {
    display: flex;
    border-radius: 8px;
    border: 0.5px solid #ed0a34;
    background: #faebeb;
    padding: 4px 8px;
}

body {
    background-color: var(--background-primary);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    margin: 0;
    padding: 0;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.btn-primary {
    display: inline-flex;
    height: 36px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--palette-primary, #9d8df1);
    color: var(--background-primary);
}

.btn-neutral {
    display: flex;
    height: 36px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--vkui-color-background-secondary, #f0f1f3);
    color: var(--vkui-color-text-primary, #2c2d2e);
    text-align: center;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 15px */
    width: max-content;
}

.inputField {
    display: flex;
    padding: 12px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 0.5px solid
        var(--vkui-color-stroke-field-border-alpha, rgba(0, 16, 61, 0.12));
    background: var(--vkui-color-background-field-background, #fff);
}

.searchField {
    display: flex;
    width: 50%;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--vkui-color-other-search-field-background, #e6e7eb);
}

.searchFieldInput {
    color: var(--vkui-color-text-secondary, #87898f);
    font-feature-settings:
        'clig' off,
        'liga' off;
    width: 100%;
    /* Text */
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.svgIcon {
    background-color: transparent;
}

.hidden {
    display: none;
}

.signinPage {
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* flex: 1 0 0; */
    /* align-self: stretch; */
}

.signinPage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.signinPage-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.modal {
    display: flex;
    width: 420px;
    flex-direction: column;
    align-items: flex-start;
    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 500px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    border-radius: 12px;
    border: 0.5px solid
        var(--light-stroke-separator-primary-alpha, rgba(0, 16, 61, 0.12));
    background: var(--vkui-color-background-modal, #fff);
}
