<div class="user-card">
    <div class="user-avatar">
        <img class='img' src='{{this.img}}' />
    </div>
    <div class="user-info">
        <div>
            <span class="text-regular">{{this.name}}</span>
        </div>
        <div class="user-email">
            <span class="text-caption">{{this.email}}</span>
        </div>
        <div id="goToSaler"></div>
    </div>
</div>