<div id="userCard" class="user-card">
    <div class="user-avatar">
        {{#if this.image}}
            <img class='img' src='{{this.image.url}}' />
        {{else}}
            <div class="img"></div>
        {{/if}}
    </div>
    <div class="user-info">
        <div class="top-user-info">
            <div>
                <span class="text-regular">{{this.name}}</span>
            </div>
            <div>
                <span class="text-caption user-email">{{this.email}}</span>
            </div>
        </div>
        <div class="bottom-user-info">
            <div id="goToSaler"></div>
        </div>
    </div>
</div>