@use '../../assets/css/vars.scss';

$counter-width: 20px;
$counter-height: 20px;

.counter {
    display: flex;
    justify-content: center;

    .counter-result {
        text-align: center;
        color: vars.$text-primary;
        vertical-align: middle;
    }   

    .counter-manager {
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: vars.$palette-primary;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .counter-count {
            color: vars.$background-primary;
            background-color: vars.$palette-primary;
            text-align: center;
            display: flex;
            flex: 1;
            border-radius: none;
            height: $counter-height;
            width: $counter-width;
            justify-content: center;
            align-items: center;
        }
    }
}