@use '../../assets/css/vars.scss';

$counter-width: 55px;
$counter-height: 55px;

.counter {
    .counter-count {
        color: vars.$palette-primary;
        width: $counter-width;
        height: $counter-height;
        background-color: vars.$background-primary;
        border-radius: 50%;
        text-align: center;
        vertical-align: center;
    }

    .counter-result {
        color: vars.$background-primary;
        text-align: center;
    }   

    .counter-full-price {
        color: vars.$background-primary;
    }

    .counter-manager {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}