<div class="counter">
    <div class="counter-result">
        <span class="full-price text-header"></span> <span class="text-header">₽</span>
    </div>
    <div class="counter-manager">
        <div id="decBtn"></div>
        <div class="counter-count text-header"></div>
        <div id="incBtn"></div>
    </div>
</div>