@use '../../assets/css/vars.scss';
@use '../../assets/css/utility';

.wrapper-cart {
    @extend .wrapper !optional;
    background-color: vars.$background-secondary;
    height: -webkit-fill-availabl;
    padding-bottom: 10vh;

    .cart {
        width: 100%;
    
        .cart-header {
            width: 1000px;
            margin: 0 auto;
            margin-top: 32px;
        }
    }
}