<div class="cart">
    <div class="cart-header">
        <span class="text-header">{{this.pageTitle}}</span>
    </div>
    <div class="wrapper">
        <div id="cartContent"></div>
    </div>
</div>