@use '../../assets/css/vars.scss';
@use '../../assets/css/utility';

.wrapper-cartpage {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper-cart {
    @extend .wrapper !optional;
    background-color: vars.$background-secondary;
    padding-bottom: 10vh;
    flex-grow: 1;
    width: 100%;

    .cart {
        width: 100%;
    
        .cart-header {
            width: 1280px;
            margin: 0 auto;
            margin-top: 32px;
            margin-bottom: 20px;

            .cart-count {
                color: vars.$text-secondary;
                font-weight: bold;
            }
        }

        .cart-content {
            width: 1280px;
            display: flex;
            gap: 40px;
            justify-content: space-between;
        }

        .cart-empty-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
}