sidebar {
    height: 623px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;

    >.badges {
        align-self: stretch;
        height: 40px;
        background: #FFFAFF;
        border-radius: 12px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4px;
        display: flex;
    }

    >.statistics {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
        display: inline-flex
    }
}

.profile-sidebar-name {
    text-align: center;
    width: 100%;
}