@use '../../../assets/css/vars.scss';

textarea {
    //height: 80px;
    resize: none;
    display: flex;
    width: 100%;
    padding: 8px 12px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 0.5px solid var(--vkui-color-stroke-field-border-alpha, rgba(0, 16, 61, 0.12));
    background: vars.$background-white;
    outline: none;
}

textarea:focus-visible {
    border: 0.5px solid vars.$palette-primary;
}