<div class="profileBtn-container">
    {{#if this.avatar}}
        <img class="profileBtn-btn" src="{{this.avatar}}" alt="" srcset="">
    {{else}}
        <div class="profileBtn-btn"
            style="background-image: url(/assets/images/avatar-placeholder.png); background-size: contain;"></div>
    {{/if}}
    <div id="profileBtn-dropdown"></div>
</div>