<div class="profileBtn-container">
    <div class="profileBtn-btn"
        style="background-image: url(assets/images/avatar-placeholder.png); background-size: contain;"></div>
    <div id="profileBtn-dropdown"></div>
</div>