<div class="profile-container">
    <div class="profile-btn" style="background-image: url(assets/images/avatar-placeholder.png); background-size: contain;"></div>
    {{> ../dropdown/dropdown this.dropdown}}
</div>