<div class="profile-container">
    <div class="profile-btn"
        style="background-image: url(assets/images/avatar-placeholder.png); background-size: contain;"></div>
    <div id="profile-dropdown"></div>
</div>