@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-Regular.ttf') format("truetype");
}

// @font-face {
//     font-family: "Roboto Medium";
//     src: url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.eot");
//     src:    url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.eot?") format("eot"), 
//             url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.woff") format("woff"), 
//             url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.ttf") format("truetype"), 
//             url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }
@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto/Roboto-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}