@use 'vars';

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-Regular.woff') format("woff"),
        url('../fonts/Nunito_Sans/NunitoSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto/Roboto-Medium.woff') format("woff"),
        url('../fonts/Roboto/Roboto-Medium.woff2') format("woff2")
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto/Roboto-Regular.woff') format("woff"),
        url('../fonts/Roboto/Roboto-Regular.woff2') format("woff");
}

@import 'text';
// @import 'font.scss';

body {
    background-color: vars.$background-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: -webkit-fill-available;
    // gap: 24px;
}

.inputField {
    display: flex;
    padding: 8px 12px 8px 10px;
    border-width: 1px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border-color: vars.$background-tertiary;
}

.inputField:focus {
    border-color: vars.$palette-primary;
}

.inputField:active {
    display: flex;
    padding: 8px 12px 8px 10px;
    border-width: 1px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border-color: vars.$palette-primary;
}

.searchField {
    // background: url('../icons/search.svg') no-repeat scroll 7px 50%;
    padding-left: 30px;
}

.textArea {
    height: 150px;
    resize: none;

}

// .search-box {
//     /* width: 50%; */
// }

input, textarea {
    display: flex;
    width: 100%;
    padding: 8px 12px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 0.5px solid var(--vkui-color-stroke-field-border-alpha, rgba(0, 16, 61, 0.12));
    background: vars.$background-primary;
    outline: none;
}

input {
    height: 36px;
}

input:focus-visible, textarea:focus-visible {
    border: 0.5px solid vars.$palette-primary;
}

/* input:focus-visible {
} */

.cell {
    display: flex;
    gap: 16px;
    align-items: center;
    align-self: stretch;
}

.searchFieldInput {
    color: var(--vkui-color-text-secondary, #87898f);
    font-feature-settings:
        'clig' off,
        'liga' off;
    width: 100%;
    /* Text */
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
}

.svgIcon {
    background-color: transparent;
}

.logo {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid vars.$background-tertiary;
}

.centred-page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}