.text-caption {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.text-regular {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.text-subheader {
    font-family: 'Roboto Medium', serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.text-header {
    text-align: center;

    font-family: 'Roboto Regular', serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}