$background-primary: #fffaff;
$background-secondary: #f0f1f3;
$background-tertiary: #292c2f1f;
$palette-primary: #9d8df1;
$palette-secondary: #57aa94;
$palette-surface: #292c2f;
$palette-tertiary: #caf6ec;
$positive-active: #57aa94cc;
$positive-disabled: #57aa94b2;
$positive-hover: #57aa94;
$primary-active: #9d8df1;
$primary-disabled: #9d8df1b2;
$primary-hover: #9d8df1cc;
$text-primary: #292c2f;
$text-secondary: #292c2f80;
$text-tertiary: #292c2f40;
$text-accent: red;
$error-message: #ED0A34;