@font-face {
    font-family: 'Nunito Sans';
    src: url('../../../assets/fonts/Nunito_Sans/NunitoSans-Regular.woff') format("woff"),
        url('../../../assets/fonts/Nunito_Sans/NunitoSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../../../assets/fonts/Roboto/Roboto-Medium.woff') format("woff"),
        url('../../../assets/fonts/Roboto/Roboto-Medium.woff2') format("woff2")
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../../../assets/fonts/Roboto/Roboto-Regular.woff') format("woff"),
        url('../../../assets/fonts/Roboto/Roboto-Regular.woff2') format("woff");
}

.text-caption {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    white-space: pre-line;
}

.text-regular {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    white-space: pre-line;
}

.text-subheader {
    font-family: 'Roboto Medium', serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    white-space: pre-line;
}

.text-header {
    font-family: 'Roboto Regular', serif;
    text-align: center;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    white-space: pre-line;
}