<div class="product">
    <div id="header"></div>
    <div class="wrapper">
        <div class="product-content">
            <div class="product-loader"></div>
            <div class="product-title"></div>
            <div id="addProduct"></div>
        </div>
    </div>
</div>