<div class="product">
    <div id="header"></div>
    {{!-- <div id="breadcrumb">lgkla;gka;kgoasgk</div> --}}
    <div class="wrapper-product">
        <div class="container">
            <div class="content"
                style="width: 1048px; height: 1564px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10); flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                {{!-- <button id="fav"></button>
                <img src="" alt="" srcset="">
                <div class="info">
                    
                </div> --}}
                <div class="CardFavBtn"
                    style="align-self: stretch; height: 60px; padding-left: 8px; padding-right: 8px; padding-top: 12px; padding-bottom: 12px; border-radius: 25px; overflow: hidden; justify-content: flex-end; align-items: center; gap: 10px; display: inline-flex">
                    <div class="IconParkOutlineLike" style="width: 25px; height: 25px; position: relative">
                        <div class="Vector"
                            style="width: 20.83px; height: 17.88px; left: 2.08px; top: 4.17px; position: absolute; border: 2px #9D8DF1 solid">
                        </div>
                    </div>
                    <div
                        style="color: #9D8DF1; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                        Добавить в избранное</div>
                </div>
                <div class="Photo"
                    style="align-self: stretch; height: 400px; background: rgba(41, 44, 47, 0.50); justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <img class="CardImage" style="width: 247px; height: 218px"
                        src="https://via.placeholder.com/247x218" />
                </div>
                <div class="FullCardInfo"
                    style="align-self: stretch; height: 1104px; padding: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                    <div class="Property"
                        style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                        <div class="Title"
                            style="height: 14px; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div
                                style="color: rgba(41, 44, 47, 0.50); font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                Город</div>
                        </div>
                        <div class="Text"
                            style="flex: 1 1 0; height: 14px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                            <div class="UtEnimAdMinimaVeniamQuisNostrumExercitationemUllamCorporisSuscipitLaboriosamNisiUtAl"
                                style="flex: 1 1 0; align-self: stretch; color: #292C2F; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                Москва</div>
                        </div>
                    </div>
                    <div class="Property"
                        style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                        <div class="Title"
                            style="height: 14px; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div
                                style="color: rgba(41, 44, 47, 0.50); font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                Описание</div>
                        </div>
                        <div class="Text"
                            style="flex: 1 1 0; height: 882px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                            <div class="UtEnimAdMinimaVeniamQuisNostrumExercitationemUllamCorporisSuscipitLaboriosamNisiUtAl"
                                style="flex: 1 1 0; align-self: stretch; color: #292C2F; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean
                                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus
                                mus. Donec
                                quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                                quis enim.
                                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                                rhoncus ut,
                                imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                                Integer
                                tincidunt.
                                Cras dapibus. Vivamus elementum semper nisi.
                                <br />
                                <br />Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
                                vitae, eleifend
                                ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
                                viverra nulla
                                ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
                                augue. Curabitur
                                ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                eget
                                condimentum
                                rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam
                                nunc,
                                blandit
                                vel, luctus pulvinar, hendrerit id, lorem.
                                <br />
                                <br />Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero
                                venenatis
                                faucibus.
                                Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                fringilla mauris
                                sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum
                                sodales,
                                augue velit
                                cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.
                                Vestibulum
                                purus quam,
                                scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras
                                ultricies mi eu
                                turpis hendrerit fringilla.
                                <br />
                                <br />Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                                cubilia
                                Curae; In ac
                                dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor,
                                suscipit
                                eget,
                                imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante
                                arcu,
                                accumsan a,
                                consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper
                                ipsum
                                rutrum nunc.
                                Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros
                                et
                                nisl sagittis
                                vestibulum.
                                <br />
                                <br />Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede.
                                Sed
                                lectus. Donec
                                mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam
                                imperdiet imperdiet
                                orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis,
                                nisi.
                                Curabitur
                                ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas
                                malesuada.
                                Praesent
                                congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu.
                                Phasellus
                                accumsan cursus velit.
                                <br />
                                <br />Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                                cubilia
                                Curae; Sed
                                aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor
                                lectus
                                quis orci.
                                Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere
                                ac,
                                mattis non,
                                nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere.
                                Praesent turpis.
                                Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin
                                urna
                                dolor
                                sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis.
                                <br />
                                <br />Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem
                                libero
                                volutpat
                                nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in
                                faucibus
                                orci luctus et
                                ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero.
                                Phasellus
                                dolor.
                                Maecenas vestibulum mollis diam. Pellentesque ut neque. Pellentesque habitant morbi
                                tristique
                                senectus et netus et malesuada fames ac turpis egestas. In dui magna, posuere eget,
                                vestibulum et,
                                tempor auctor, justo. In ac felis quis tortor malesuada pretium.
                                <br />
                                <br />Pellentesque auctor neque nec urna. Proin sapien ipsum, porta a, auctor quis,
                                euismod ut, mi.
                                Aenean viverra rhoncus pede. Pellentesque habitant morbi tristique senectus et netus
                                et
                                malesuada
                                fames ac turpis egestas. Ut non enim eleifend felis pretium feugiat. Vivamus quis
                                mi.
                                Phasellus a
                                est. Phasellus magna. In hac habitasse platea dictumst. Curabitur at lacus ac velit
                                ornare lobortis.
                                Curabitur a felis in nunc fringilla tristique. Morbi mattis ullamcorper velit.
                                Phasellus
                                gravida
                                semper nisi. Nullam vel sem.
                                <br />
                                <br />Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam.
                                Sed
                                hendrerit.
                                Morbi ac felis. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula
                                leo, at
                                malesuada
                                velit leo quis pede. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis
                                ligula, eget
                                egestas libero turpis vel mi. Nunc nulla. Fusce risus nisl, viverra et, tempor et,
                                pretium in,
                                sapien. Donec venenatis vulputate lorem. Morbi nec metus. Phasellus blandit leo ut
                                odio.
                                <br />
                                <br />Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi,
                                condimentum
                                viverra
                                felis nunc et lorem. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis.
                                In
                                auctor
                                lobortis lacus. Quisque libero metus, condimentum nec, tempor a, commodo mollis,
                                magna.
                                Vestibulum
                                ullamcorper mauris at ligula. Fusce fermentum. Nullam cursus lacinia erat. Praesent
                                blandit laoreet
                                nibh. Fusce convallis metus id felis luctus adipiscing. Pellentesque egestas, neque
                                sit
                                amet
                                convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Quisque
                                id
                                mi.
                                <br />
                                <br />Ut tincidunt tincidunt erat. Etiam feugiat lorem non metus. Vestibulum dapibus
                                nunc ac augue.
                                Curabitur vestibulum aliquam leo. Praesent egestas neque eu enim. In hac habitasse
                                platea dictumst.
                                Fusce a quam. Etiam ut purus mattis mauris sodales aliquam. Curabitur nisi. Quisque
                                malesuada
                                placerat nisl. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus.
                                Sed
                                augue ipsum,
                                egestas nec, vestibulum et, malesuada adipiscing, dui. Vestibulum facilisis, purus
                                nec
                                pulvinar
                                iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Mauris
                                sollicitudin
                                fermentum
                                libero.
                                <br />
                                <br />Praesent nonummy mi in odio. Nunc interdum lacus sit amet orci. Vestibulum
                                rutrum,
                                mi nec
                                elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi. Morbi
                                mollis
                                tellus ac
                                sapien. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id
                                egestas quam
                                mauris ut lacus. Fusce vel dui. Sed in libero ut nibh placerat accumsan. Proin
                                faucibus
                                arcu quis
                                ante. In consectetuer turpis ut velit. Nulla sit amet est. Praesent metus tellus,
                                elementum eu,
                                semper a, adipiscing nec, purus. Cras risus ipsum, faucibus ut, ullamcorper id,
                                varius
                                ac, leo.
                                Suspendisse feugiat. Suspendisse enim turpis, dictum sed, iaculis a, condimentum
                                nec,
                                nisi. Praesent
                                nec nisl a purus blandit viverra. Praesent ac massa at ligula laoreet iaculis. Nulla
                                neque dolor,
                                sagittis eget, iaculis quis, molestie non, velit. Mauris turpis nunc, blandit et,
                                volutpat molestie,
                                porta ut, ligula. Fusce pharetra convallis urna. Quisque ut nisi. Donec mi odio,
                                faucibus at,
                                scelerisque quis,
                            </div>
                        </div>
                    </div>
                    <div class="Property"
                        style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                        <div class="Title"
                            style="height: 14px; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div
                                style="color: rgba(41, 44, 47, 0.50); font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                Категория</div>
                        </div>
                        <div class="Text"
                            style="flex: 1 1 0; height: 14px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                            <div class="UtEnimAdMinimaVeniamQuisNostrumExercitationemUllamCorporisSuscipitLaboriosamNisiUtAl"
                                style="flex: 1 1 0; align-self: stretch; color: #292C2F; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                Категория товара</div>
                        </div>
                    </div>
                    <div class="Property"
                        style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                        <div class="Title"
                            style="height: 14px; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div
                                style="color: rgba(41, 44, 47, 0.50); font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                В избранном</div>
                        </div>
                        <div class="Text"
                            style="flex: 1 1 0; height: 14px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                            <div class="UtEnimAdMinimaVeniamQuisNostrumExercitationemUllamCorporisSuscipitLaboriosamNisiUtAl"
                                style="flex: 1 1 0; align-self: stretch; color: #292C2F; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                10</div>
                        </div>
                    </div>
                    <div class="Property"
                        style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                        <div class="Title"
                            style="height: 14px; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div
                                style="color: rgba(41, 44, 47, 0.50); font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                Просмотры</div>
                        </div>
                        <div class="Text"
                            style="flex: 1 1 0; height: 14px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                            <div class="UtEnimAdMinimaVeniamQuisNostrumExercitationemUllamCorporisSuscipitLaboriosamNisiUtAl"
                                style="flex: 1 1 0; align-self: stretch; color: #292C2F; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                115</div>
                        </div>
                    </div>
                    <div class="Property"
                        style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                        <div class="Title"
                            style="height: 14px; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div
                                style="color: rgba(41, 44, 47, 0.50); font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                Размещено</div>
                        </div>
                        <div class="Text"
                            style="flex: 1 1 0; height: 14px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                            <div class="UtEnimAdMinimaVeniamQuisNostrumExercitationemUllamCorporisSuscipitLaboriosamNisiUtAl"
                                style="flex: 1 1 0; align-self: stretch; color: #292C2F; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                15 октября 2023 г.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div
                    style="width: 258px; height: 337px; padding-top: 54px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div class="Price"
                        style="justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                        <div
                            style="color: #292C2F; font-size: 22px; font-family: Roboto; font-weight: 500; line-height: 30.80px; word-wrap: break-word">
                            3101</div>
                        <div
                            style="color: #292C2F; font-size: 22px; font-family: Roboto; font-weight: 500; line-height: 30.80px; word-wrap: break-word">
                            ₽</div>
                    </div>
                    <div class="UserInfo"
                        style="padding-top: 8px; padding-bottom: 8px; padding-right: 16px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                        <div class="Avatar"
                            style="flex: 1 1 0; align-self: stretch; border-radius: 40px; justify-content: flex-start; align-items: flex-start; display: flex">
                            <img class="Picture"
                                style="width: 80px; height: 80px; border-radius: 48px; border: 0.50px rgba(0, 16, 61, 0.08) solid"
                                src="https://via.placeholder.com/80x80" />
                        </div>
                        <div class="Info"
                            style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div class="TopInfo"
                                style="width: 128px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
                                <div class="FirstnameLastname"
                                    style="color: black; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                    Firstname Lastname</div>
                                <div class="EmailMailCom"
                                    style="color: #9D8DF1; font-size: 10px; font-family: Nunito Sans; font-weight: 400; line-height: 10px; word-wrap: break-word">
                                    email@mail.com</div>
                            </div>
                            <div class="Frame17"
                                style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                                <div class="RegSince"
                                    style="color: rgba(41, 44, 47, 0.50); font-size: 10px; font-family: Nunito Sans; font-weight: 400; line-height: 10px; word-wrap: break-word">
                                    на Юле с 09 окт 2021</div>
                                <div class="Rating"
                                    style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                                    <div class="Star" style="width: 24px; height: 24px; position: relative">
                                        <div class="Vector"
                                            style="width: 20.63px; height: 19.87px; left: 1.69px; top: 1.69px; position: absolute; background: #9D8DF1">
                                        </div>
                                    </div>
                                    <div class="Star" style="width: 24px; height: 24px; position: relative">
                                        <div class="Vector"
                                            style="width: 20.63px; height: 19.87px; left: 1.69px; top: 1.69px; position: absolute; background: #9D8DF1">
                                        </div>
                                    </div>
                                    <div class="Star" style="width: 24px; height: 24px; position: relative">
                                        <div class="Vector"
                                            style="width: 20.63px; height: 19.87px; left: 1.69px; top: 1.69px; position: absolute; background: #9D8DF1">
                                        </div>
                                    </div>
                                    <div class="Star" style="width: 24px; height: 24px; position: relative">
                                        <div class="Vector"
                                            style="width: 20.63px; height: 19.87px; left: 1.69px; top: 1.69px; position: absolute; background: #9D8DF1">
                                        </div>
                                    </div>
                                    <div class="Star" style="width: 24px; height: 24px; position: relative">
                                        <div class="Vector"
                                            style="width: 20.63px; height: 19.87px; left: 1.69px; top: 1.69px; position: absolute; background: #9D8DF1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Button"
                        style="align-self: stretch; height: 28px; padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 4px; background: #9D8DF1; border-radius: 8px; justify-content: center; align-items: center; gap: 2px; display: inline-flex">
                        <div class="ButtonLabelPadding"
                            style="padding-left: 4px; padding-right: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                            <div class="ButtonLabel"
                                style="text-align: center; color: white; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                Добавить в корзину</div>
                        </div>
                    </div>
                    <div class="Button"
                        style="align-self: stretch; height: 28px; padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 4px; background: #57AA94; border-radius: 8px; justify-content: center; align-items: center; gap: 2px; display: inline-flex">
                        <div class="ButtonLabelPadding"
                            style="padding-left: 4px; padding-right: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                            <div class="ButtonLabel"
                                style="text-align: center; color: white; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                Написать продавцу</div>
                        </div>
                    </div>
                    <div class="BookmarkBadges"
                        style="align-self: stretch; height: 60px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 4px; display: flex">
                        <div class="SafeDeal"
                            style="align-self: stretch; padding: 4px; border-radius: 10px; overflow: hidden; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                            <div class="SafeDial" style="width: 20px; height: 20px; position: relative">
                                <div class="Vector"
                                    style="width: 17.50px; height: 20px; left: 1.25px; top: 0px; position: absolute; background: #57AA94">
                                </div>
                                <div class="Vector"
                                    style="width: 7.79px; height: 10.07px; left: 6.48px; top: 4.41px; position: absolute; background: #57AA94">
                                </div>
                            </div>
                            <div
                                style="color: #292C2F; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                Безопасная сделка</div>
                        </div>
                        <div class="Delivery"
                            style="align-self: stretch; padding: 4px; border-radius: 10px; overflow: hidden; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                            <div class="Delivery" style="width: 20px; height: 20px; position: relative">
                                <div class="Vector"
                                    style="width: 8.75px; height: 4.38px; left: 1.25px; top: 6.88px; position: absolute; background: #0081D8">
                                </div>
                                <div class="Vector"
                                    style="width: 15.63px; height: 13.75px; left: 3.12px; top: 3.75px; position: absolute; background: #0081D8">
                                </div>
                            </div>
                            <div
                                style="color: #292C2F; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">
                                Возможна доставка</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>