<div class="wrapper">
    <nav>
        <div id="logo-btn"></div>
        <form class='search-box'>
            <input name="search" class='search-input text-regular search-field' placeholder='Поиск' autocomplete="off"/>
        </form>
        <div id="product-create"></div>
        <div id="cart-btn"></div>
        <div id="profileBtn"></div>
        <div id="auth-box"></div>
    </nav>
</div>