@use '../../assets/css/sizes.scss';

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // @media screen {
        width: sizes.$desktop;
    // }

    @media screen and (max-width: sizes.$mobile) {
        width: 348px;
    }
}

#header-product-create {
    @media screen and (max-width: sizes.$mobile) {
        width: 55px;
        &>span {
            text-wrap: wrap !important;
        }
    }
}

.header-auth-box {
    display: flex;
    align-items: center;
    gap: 16px;

    @media screen and (max-width: sizes.$mobile) {
        gap: 8px;
    }
}

.header-profile-button {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 16px;
}

.header-search-field {
    padding-left: 30px;
    @media screen and (max-width: sizes.$mobile) {
        padding-left: 5px;
    }
}

.header-search-field-input {
    color: var(--vkui-color-text-secondary, #87898f);
    font-feature-settings:
        'clig' off,
        'liga' off;
    width: 100%;
    /* Text */
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

#header-logo-button {
    height: auto;
    padding: 0;

    @media screen and (max-width: sizes.$mobile) {
        width: 32px;
        height: 32px;
        &>span {
            display: none;
        }
        &>svg {
            viewport-fit: contain;
            
        }
    }
}

#header-cart-button {
    padding: 0;
}