@use '../../assets/css/sizes.scss';

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: sizes.$base-width;
}

.header-auth-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-profile-button {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 16px;
}

.header-dropdown-container {
    position: absolute;
}

.header-dropdown-content {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    border: 1px solid var(--background-tertiary, rgba(41, 44, 47, 0.12));
    background: var(--background-primary, #fffaff);
}

.header-search-field {
    padding-left: 30px;
}

.header-search-field-input {
    color: var(--vkui-color-text-secondary, #87898f);
    font-feature-settings:
        'clig' off,
        'liga' off;
    width: 100%;
    /* Text */
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

#header-logo-button {
    height: auto;
    padding: 0;
}

#header-cart-button {
    padding: 0;
}