@use '../../assets/css/sizes.scss';

.header-nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: sizes.$desktop;
    gap: 32px;
    padding-top: 8px;
    padding-bottom: 8px;

    @media screen and (max-width: sizes.$mobile) {
        width: sizes.$mobile;
    }
}

.header-auth-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-profile-button {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 16px;
}

.header-search-field {
    padding-left: 30px;
}

.header-search-box {
    width: 100%;
}

.header-search-field-input {
    color: var(--vkui-color-text-secondary, #87898f);
    font-feature-settings:
        'clig' off,
        'liga' off;
    width: 100%;
    /* Text */
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

#header-logo-button {
    height: auto;
    padding: 0;
}