<div class="wrapper">
    <nav>
        {{!-- <div id="logo-btn"></div> --}}
        {{!-- <div id="category"></div> --}}
        {{!-- <div class='search-box'>
            <input class='search-input text-regular searchField' placeholder='Поиск' />
        </div> --}}
        {{!-- <div id="product-create"></div> --}}
        {{!-- {{#if this.authorized}}
            <div id="cart-btn"></div>
            <div id="profileBtn"></div>
        {{else}}
            <div class='auth-box'>
                <div id="signin"></div>
                <div id="signup"></div>
            </div>
        {{/if}} --}}
    </nav>
</div>