<div class="wrapper">
    <nav class="header-nav">
        <div id="header-logo-button"></div>
        <form class='header-search-box'>
            <input name="search" class='header-search-input text-regular header-search-field' placeholder='Поиск' autocomplete="off"/>
        </form>
        <div id="header-product-create"></div>
        <div id="header-cart-button"></div>
        <div id="header-profile-button"></div>
        <div id="header-auth-box"></div>
    </nav>
</div>