<div class="carousel">
    <div id="selectPrev"></div>
    {{#each this}}
        <div class="carousel__item">
            <img src="{{this.url}}" data-id="{{this.id}}" />
        </div>
    {{/each}}
    <div id="selectNext"></div>
</div>