@use '../../assets/css/vars.scss';

.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: vars.$background-tertiary;

    &-item {
        display: flex;
        height: 100%;
    }

    &-empty {
        display: flex; 
        width: 100%; 
        height: 100%; 
        background-color: vars.$background-tertiary;
    }
}

.carousel-button {
    position: absolute;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;

    
    z-index: 1;
    opacity: 0;
    transition: opacity 0.25s;

    &:hover {
        opacity: 0.35;
    }
}

.carousel-button--left {
    @extend .carousel-button;
    left: 0;
    justify-content: flex-start;
    background: linear-gradient(to right, black 0%, black 20%, #000000 20%, transparent 20%, transparent 100%);
    
    span {
        display: block;
        width: 1.5vw;
        height: 1.5vw;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        transform: rotate(135deg);
        margin-left: 20px;
    }
    border-radius: 0 !important;
}

.carousel-button--right {
    @extend .carousel-button;
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(to left, black 0%, black 20%, #000000 20%, transparent 20%, transparent 100%);

    span {
        display: block;
        width: 1.5vw;
        height: 1.5vw;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        transform: rotate(-45deg);
        margin-right: 20px;
    }
    
    border-radius: 0 !important;
}