.profile-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    
    .profile-page-title {
        padding-bottom: 16px;
    }

    .profile-content-block {
        width: 100%;
        display: flex;
        justify-content: center;

        .profile-content-block-full {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-column-gap: 32px;
            grid-row-gap: 16px;
        }
        
        .profile-content-block-empty {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 100%;
            margin-top: 10vh;
        
            button {
                width: fit-content;
            }
        }
    }
}