.dropdown-container {
    position: absolute;
    top: 36px
}

.dropdown-content {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    border: 1px solid var(--background-tertiary, rgba(41, 44, 47, 0.12));
    background: var(--background-primary, #fffaff);
}