<div style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: flex">
    <svg width="183" height="118" viewBox="0 0 183 118" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M81.7523 0.499756H3.74893C1.95487 0.499756 0.500488 1.95889 0.500488 3.75883V114.24C0.500488 116.04 1.95487 117.5 3.74893 117.5H81.7523C83.5463 117.5 85.0007 116.04 85.0007 114.24V3.75883C85.0007 1.95889 83.5463 0.499756 81.7523 0.499756Z"
            fill="white" />
        <path
            d="M81.1722 1.08179H4.32901C2.53495 1.08179 1.08057 2.54092 1.08057 4.34086V113.659C1.08057 115.458 2.53495 116.918 4.32901 116.918H81.1722C82.9662 116.918 84.4206 115.458 84.4206 113.659V4.34086C84.4206 2.54092 82.9662 1.08179 81.1722 1.08179Z"
            stroke="#EBEBEB" stroke-width="1.4" />
        <mask id="mask0_304_497" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="86" height="118">
            <path
                d="M81.7523 0.499756H3.74893C1.95487 0.499756 0.500488 1.95889 0.500488 3.75883V114.24C0.500488 116.04 1.95487 117.5 3.74893 117.5H81.7523C83.5463 117.5 85.0007 116.04 85.0007 114.24V3.75883C85.0007 1.95889 83.5463 0.499756 81.7523 0.499756Z"
                fill="#EBEBEB" />
        </mask>
        <g mask="url(#mask0_304_497)">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M85.0007 0.499756H0.500488V84.9995H85.0007V0.499756ZM68.751 91.5001H6.99987V98H68.7494L68.751 91.5001ZM37.8759 101.25H7.0007V107.75H37.8759V101.25Z"
                fill="#EBEBEB" />
        </g>
        <path
            d="M179.252 0.499756H101.249C99.4546 0.499756 98.0002 1.95889 98.0002 3.75883V114.24C98.0002 116.04 99.4546 117.5 101.249 117.5H179.252C181.046 117.5 182.5 116.04 182.5 114.24V3.75883C182.5 1.95889 181.046 0.499756 179.252 0.499756Z"
            fill="white" />
        <path
            d="M178.672 1.08179H101.829C100.035 1.08179 98.5803 2.54092 98.5803 4.34086V113.659C98.5803 115.458 100.035 116.918 101.829 116.918H178.672C180.466 116.918 181.92 115.458 181.92 113.659V4.34086C181.92 2.54092 180.466 1.08179 178.672 1.08179Z"
            stroke="#EBEBEB" stroke-width="1.4" />
        <mask id="mask1_304_497" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="98" y="0" width="85"
            height="118">
            <path
                d="M179.252 0.499756H101.249C99.4546 0.499756 98.0002 1.95889 98.0002 3.75883V114.24C98.0002 116.04 99.4546 117.5 101.249 117.5H179.252C181.046 117.5 182.5 116.04 182.5 114.24V3.75883C182.5 1.95889 181.046 0.499756 179.252 0.499756Z"
                fill="#EBEBEB" />
        </mask>
        <g mask="url(#mask1_304_497)">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M182.5 0.499756H98.0002V84.9995H182.5V0.499756ZM166.251 91.5001H104.5V98H166.249L166.251 91.5001ZM135.376 101.25H104.5V107.75H135.376V101.25Z"
                fill="#EBEBEB" />
        </g>
    </svg>
    <span class="text-regular"
        style="width: 328px; text-align: center; color: rgba(41, 44, 47, 0.50); word-wrap: break-word">Все
        созданные объявления будут отображаться на этой странице.</span>
</div>