<div class="signup">
    <form class='signup__content'>
        <div id="logo-btn"></div>
        <p class='text-subheader'>Регистрация в «GoodsGalaxy»</p>
        <input name="email" class='text-regular' placeholder='Электронная почта' type='text' class='inputField'
            required autocomplete="email" />
        {{!-- <input
            name="name"
            class='text-regular'
            placeholder='Имя'
            type='text'
            class='inputField'
            required
            autocomplete="name"
        /> --}}
        {{!-- <input
            name="phone"
            class='text-regular'
            placeholder="+7 ___ ___ __ __" data-slots="_"
            type='text'
            class='inputField'
            required
            autocomplete="tel"
        /> --}}
        <div style="display: flex; flex-direction: row; gap: 16px; width: 100%;">
            <input name="password" class='text-regular' placeholder='Пароль' type='password' class='inputField'
                required autocomplete="new-password" />
            <button class="btn-outlined" name="show" type="button"><span
                    class="text-regular">показать</span></button>
        </div>
        <div style="display: flex; flex-direction: row; gap: 16px; width: 100%;">
            <input name="passwordRepeat" class='text-regular' placeholder='Повтор пароля' type='password'
                class='inputField' required autocomplete="off" />
            <button class="btn-outlined" name="show" type="button"><span
                    class="text-regular">показать</span></button>
        </div>
        <div id='errorBox'></div>
        <div id="btnSubmit"></div>
    </form>
    <div id='info'
        style='display: flex; flex-direction: column; align-items: center; gap: 8px; align-self: stretch;'>
        <span class='text-caption' style='text-align: center; color: var(--text-secondary);'>
            Нажимая «Продолжить», вы принимаете пользовательское соглашение
            и политику конфиденциальности
        </span>
        <span class='text-caption' style='text-align: center; color: var(--text-secondary);'>
            Передаваемые данные
        </span>
    </div>
</div>