@use '../../../assets/css/vars.scss';

.alert-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.product-menu {
    position: sticky;
    top: 24px;
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
    .product-menu-price {
        display: flex;
        justify-content: start;
        gap: 10px;
    }

    .up {
        color: vars.$text-accent;
    }

    .down {
        color: vars.$palette-secondary;
    }

    &-saler {
        display: flex;
        padding: 8px 16px 8px 0px;
        align-items: center;
        gap: 10px;

        &-image {
            width: 90px;
            height: 90px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;

            &-creds {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 6px;
            }

            &-additional {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;

                &-rating {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 4px;
                }
            }
        }
    }

    &-badges {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;

        &-badge {
            display: flex;
            padding: 4px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            align-self: stretch;
            border-radius: 10px;
        }
    }
}